html{
  background-color: #a681ba;
  color: #fff;
  font-family: 'Open Sans', sans-serif;}

  h1, h2 {
    color: limegreen;
    font-weight: normal;
    font-size: 5rem;
    line-height: 1.5;
    text-shadow: 2px -5px 10px black;
    }


  p {
    font-style: italic;
    text-align: center;
    }

  ol {
    list-style-type: none;
    }

  a:hover {color: black;

  }
